<!DOCTYPE html>
<html>
<head>
    <title>Inicio - Tu Aplicación de Finanzas</title>
</head>
<body>
    <h1>Saldo Actual</h1>
    <p>El saldo actual es: ${{ saldo_actual }}</p>

    <h1>Historial de Transacciones</h1>
    <table>
        <tr>
            <th>ID de Transacción</th>
            <th>Descripción</th>
            <th>Monto</th>
        </tr>
        {% for transaccion in historial %}
            <tr>
                <td>{{ transaccion[0] }}</td>
                <td>{{ transaccion[1] }}</td>
                <td>${{ transaccion[2] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
